rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      //allow read, write: if
      //    request.time < timestamp.date(2022, 2, 14);

      //only authorized user can create a document
      allow create: if request.auth != null;

      //only allow users with uid that matches to read and delete 
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}